**/node_modules/
**/.ipynb_checkpoints/
**/archive/images/
**/__pycache__/ 

**/.vs/
**/Micros - Assembly/*.pdsbak
**/*.workspace
**/*.PWI
**/*.DBK
**/*.atsln
**/*.asm~
**/*.asmproj 

**/Micros - Assembly/*/*/Debug/
**/Micros - Assembly/*/*/*/Debug/
**/Micros - Assembly/*/*/*.xml

**/Micros - C & C++/*/*/Debug/
**/Micros - C & C++/*/*/*/Debug/
**/Micros - C & C++/*/*/*.xml
**/Micros - C & C++/*.zip
**/Micros - Assembly/*.zip

**/Machine Learning/datasets/