**/node_modules/
**/.ipynb_checkpoints/
**/archive/images/

**/Micros - Assembly/*/*/*/Debug/
**/Micros - Assembly/*/*/.vs/
**/Micros - Assembly/*.workspace
**/Micros - Assembly/*.zip
**/Micros - Assembly/*.pdsbak

**/Micros - C & C++/*/*/Debug/
**/Micros - C & C++/*.workspace
**/Micros - C & C++/*.zip

**/Machine Learning/datasets/