**/node_modules/
**/.ipynb_checkpoints/
**/archive/images/
**/__pycache__/ 

**/.vs/
**/Micros - Assembly/*.pdsbak
**/*.workspace
**/*.PWI
**/*.DBK
**/*.atsln
**/*.asm~
**/*.asmproj 
**/*.asm~
**/*.asmproj 
**/*.pdsprj
**/*.pdsbak 
**/*.cproj
**/*.tgz

**/NLP/DatasetDownloadTarea/estenograficas_limpias_por_fecha/
**/NLP/checkpoints/
**/NLP/word2vec_col.txt

**/Micros - Assembly/*/*/Debug/
**/Micros - Assembly/*/*/*/Debug/
**/Micros - Assembly/*/*/*.xml

**/Micros - C & C++/*/*/Debug/
**/Micros - C & C++/*/*/*/Debug/
**/Micros - C & C++/*/*/*.xml
**/Micros - C & C++/*.zip
**/Micros - Assembly/*.zip

**/Machine Learning/datasets/

**/cifar10
**/VoxCelebTest